@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--radius: 1.5rem;
}

body {
	font-family: 'Inter', system-ui, sans-serif;
}

/* Small helpers */
.container {
	max-width: 90rem;
	margin-left: auto;
	margin-right: auto;
}